.individual{
    width: 100%;
    color: white;
    margin-left: 57px;
}
.thumbnail{
    width: 217px;
}
.recName{
    margin-left: 2px;
    margin-top: 7px;
    width: 200px;
}
@media screen and (max-width: 700px) {
    .thumbnail{
        width: 50vw;
        display: inline-block;
    }
    .individual{
        display: inline-block;
        width: 95vw;
        margin-bottom: 12px;
    }
    .recName{
        margin-right: 6px;
        margin-top: 1px;
        width: 40vw;
        margin-left: 3vw;
        float: right;
        font-size: 3.2vw;
        overflow: hidden;
        
    }
}